tutorial
.vscode/launch.json
.vscode/settings.json
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/jobscrapy.cpython-37.pyc
notebooks/20200418_developer_Bristol_0.json
notebooks/20200419_developer_Bristol_0.json
notebooks/20200421_developer_Bristol_0.json
notebooks/20200422_developer_London_0.json
.DS_Store
