appnope==0.1.0
astroid==2.3.3
attrs==19.3.0
Authlib==0.13
autopep8==1.5
awscli==1.17.9
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.8.2
botocore==1.14.9
bs4==0.0.1
cairocffi==1.1.0
CairoSVG==2.5.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
check50==3.0.10
Click==7.0
colorama==0.4.1
compare50==1.1.2
cryptography==3.2
cs50==5.0.3
cssselect2==0.2.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
EditorConfig==0.12.2
Flask==1.1.1
Flask-Session==0.3.1
geographiclib==1.50
geopy==1.21.0
help50==3.0.0
html5lib==1.0.1
icdiff==1.9.1
idna==2.8
ikp3db==1.4.1
intervaltree==2.1.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
jellyfish==0.7.2
Jinja2==2.11.3
jmespath==0.9.4
jsbeautifier==1.10.3
jupyter-client==6.1.0
jupyter-core==4.6.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lib50==2.0.7
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
natsort==7.0.1
nltk==3.4.5
numpy==1.18.1
oauthlib==3.1.0
pandas==1.0.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
plotly==4.5.0
price-parser==0.3.3
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
pyzmq==19.0.0
requests==2.22.0
retrying==1.3.3
rsa==3.4.2
s3transfer==0.3.2
six==1.14.0
sortedcontainers==2.1.0
soupsieve==2.0
SQLAlchemy==1.3.13
sqlparse==0.3.0
termcolor==1.1.0
tinycss2==1.0.2
tornado==6.0.4
tqdm==4.42.1
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.11.2
